<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Students</title>
</head>
<body>
        <h2 style="text-align: center;">List of Computers</h2>
            <div style="text-align: center;">
            <a style="font-size: 20px;" href="/computers/save-page">Show save page</a>
        </div>
    <table class="table table-stripped" style="width: 80%; border: 0.5px solid gray; margin: 30px auto;">
        <thead>
            <tr>
                <th style="width: 9%;">id</th>
                <th style="width: 23%;">name</th>
                <th style="width: 23%;">sort</th>
                <th style="width: 15%;">ram</th>
                <th style="width: 15%;">memory</th>
                <th style="width: 15%;">operations</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>xan</td>
                <td>note</td>
                <td>6</td>
                <td>190</td>
                <td><a class="btn btn-danger" >delete</a></td>
            </tr>
        </tbody>
    </table>
</body>
</html>